<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-bottom-navigation v-model="value" :background-color="color" dark shift>
        <v-btn>
          <span>Video</span>

          <v-icon>mdi-television-play</v-icon>
        </v-btn>

        <v-btn>
          <span>Music</span>

          <v-icon>mdi-music-note</v-icon>
        </v-btn>

        <v-btn>
          <span>Book</span>

          <v-icon>mdi-book</v-icon>
        </v-btn>

        <v-btn>
          <span>Image</span>

          <v-icon>mdi-image</v-icon>
        </v-btn>
      </v-bottom-navigation>
      <div class="text-center">
        <v-btn
          :disabled="dialog"
          :loading="dialog"
          class="white--text"
          color="purple darken-2"
          @click="dialog = true"
        >
          Start loading
        </v-btn>
        <v-dialog
          v-model="dialog"
          hide-overlay
          persistent
          width="300"
        >
          <v-card
            color="primary"
            dark
          >
            <v-card-text>
              Please stand by
              <v-progress-linear
                indeterminate
                color="white"
                class="mb-0"
              ></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({ 
        value: 1, 
        dialog: false
      }),
      watch: {
        dialog (val) {
          if (!val) return
          setTimeout(() => (this.dialog = false), 4000)
        },
      },
      computed: {
        color() {
          switch (this.value) {
            case 0: return 'blue-grey'
            case 1: return 'teal'
            case 2: return 'brown'
            case 3: return 'indigo'
            default: return 'blue-grey'
          }
        },
      },
    })
  </script>
</body>

</html>